<html>
    <head>
        <!-- <title>Main page</title> -->
        <link rel="stylesheet" href='/static/greenhouse.css' />
    </head>

<body>
    <div class ="container">
        <header>
            <h1 id ="title">Find your Reading Level</h1>
        </header>
        <form action = "http://localhost:5000/result" method = "POST">
            <h3>Basic Questions</h3>
            <label>What are your assessed reading level? (1 is lowest, 10 is highest)</label>
            <input name ="readinglevel" type ="number" min=1 max="10"></input>
            <br/>
            <br/>
            <br/>

            <div id="Books">
                <H3>About the book</H3>
                              
                <label>What is the title of the book?</label>
                <input name ="BookName" type ="text" class="numinput"></input>
                <br/>
                <br/>
                <label>Book pdf</label>
                <input name ="BookPDF" type ="file" accept="application/pdf"></input>
            </div>
            <label>Book Rating (1-10)</label>
            <input name ="BookRating" type ="number" min=1 max="10" class="numinput"></input>
            
            <H3>Optional:</H3>
            <label>Do you want to enter your rating info to Neural Network?</label>
            <input name ="NN" type ="text" class="numinput"></input>
            <label>Do you want to enter your rating info to Classification?</label>
            <input name ="Classification" type ="text" class="numinput"></input>
            <br/>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>